.notes__main-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.notes__app-bar {
	align-items: center;
	background-color: $primary;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.notes__content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
}

.notes_title-input,
.notes__textarea {
	border: none;

	&:focus {
		outline: none;
	}
}

.notes_title-input {
	color: $dark-gray;
	font-size: 25px;
	font-weight: 700px;
	margin-bottom: 10px;
}

.notes__textarea {
	color: $dark-gray;
	font-size: 20px;
	flex: 1 1 auto;
	resize: none;
	padding: 1rem;
}

.notes__image {
	& img {
		box-shadow: 1px 1px 10px $light-gray;
		height: 200px;
	}
}
