form {
	font-family: 'open sans', Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	margin-top: 1.3rem;
}

form > label {
	margin-bottom: 5px;

animation-duration: 5s;
animation-iteration-count: infinite;
animation-name: label-color;
}

@keyframes label-color {
	from {
		color: white;
	}

	to {
		color: black;
	}
}