// _el guión bajo en el nombre del archivo e importante!

// colors
$primary: #5c62c5;
$dark-gray: #363636;
$light-gray: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

@mixin padding-horizontal($size) {
  padding: $size 0;
}