html,
body {
	/* Ordenamos los estios alfabetiicamente */
	align-items: center;
	background-color: #226598;
	color: white;
	display: flex;
	font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
	height: 100vh;
	justify-content: center;
	text-align: center;
}

pre {
	text-align: initial;
}

button {
	padding: 7px;
	font-size: 1.4rem;
	margin-right: 10px;
}