p {
  margin: 0;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}

.complete p{
  text-decoration: line-through;
}